.text {
    min-height: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: visible;
}
.description{
    min-height:30px ;

}
@media screen and (max-width:420px) {
    .text{
        max-width: max-content;
    }
    .divDesc{
        display: flex;
        flex-wrap: wrap;
    }
    .description{
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
        min-height: 10px;
        padding: 10px;
        background-color: aquamarine;
        /* overflow: hidden; */
        margin-top: 20px;
    }
}
